<div class="NavLeft">
    <img class="NavImg" src="">
    <p class="Text NavLabel">Station</p>
</div>
<div class="NavRight">
    <ul>
        <li>
            <a href="Home" class="Text">Home</a>
        </li>
        <li>
            <a href="Producer" class="Text">Producer</a>
        </li>
        <li>
            <a href="dj" class="Text">Dj</a>
        </li>
        <li>
            <a href="Listener" class="Text">Listener</a>
        </li>
        <li>
            <a href="Settings" class="Text">Settings</a>
        </li>
    </ul>
</div>