<style>
    .Sidebar li{
        display: flex;
        padding: 2em 0 2em 0;
        align-items: center;
        text-align: center;
        flex-wrap: nowrap;
        text-decoration: none;
        color: var(--Accent-Dark-Cedar);
        font-family: helvetica;
        font-weight: 700;
    }
</style>
<aside class="Sidebar">
    <p class="SideBarLabel Text">
        Currently Playing
    </p>
    <ul>
        <li><img src="" style="width:60px; height:60px; background-color: white; border-radius: max(10%,10px); margin: 0 1em 0 0;">Song 1</li>
        <li><img src="" style="width:60px; height:60px; background-color: white; border-radius: max(10%,10px); margin: 0 1em 0 0;">Song 2</li>
        <li><img src="" style="width:60px; height:60px; background-color: white; border-radius: max(10%,10px); margin: 0 1em 0 0;">Song 3</li>
        <li><img src="" style="width:60px; height:60px; background-color: white; border-radius: max(10%,10px); margin: 0 1em 0 0;">Song 4</li>
        <li><img src="" style="width:60px; height:60px; background-color: white; border-radius: max(10%,10px); margin: 0 1em 0 0;">Song 5</li>
        <li><img src="" style="width:60px; height:60px; background-color: white; border-radius: max(10%,10px); margin: 0 1em 0 0;">Song 6</li>
        <li><img src="" style="width:60px; height:60px; background-color: white; border-radius: max(10%,10px); margin: 0 1em 0 0;">Song 7</li>
    </ul>
</aside>