<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
<link rel="stylesheet" href="/css/group8.css">
<link rel="stylesheet" href="/css/djstyle.css">
<script type = "text/javascript" src = "/js/djScripts.js" ></script>
<title>SWE432 DJ Screen</title>