<div class="NavLeft">
    <img class="NavImg" src="">
    <p class="Text NavLabel">Station</p>
</div>
<div class="NavRight">
    <ul>
        <li>
            <a href="Home" class="Text">Home</a>
        </li>
        <li>
            <a href="About" class="Text">About</a>
        </li>
        <li>
            <a href="Stations" class="Text">Stations</a>
        </li>
        <li>
            <a href="Artists" class="Text">Artists</a>
        </li>
        <li>
            <a href="Settings" class="Text">Settings</a>
        </li>
    </ul>
</div>